// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 @import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,300);
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 /* Mixins, variables, etc... */
 
 @mixin nav_link_hover {
     transition: 0.4s;
     color: lighten(#222, 30%);
     text-decoration: none;
 }
 
 /* Universal styles */
 
 body {
     font-family: 'Merriweather', serif;
 }
 
 a {
     color: darken(#e7e7e7, 70%);
 }
 
 /* Navbar and navigation styles */
 
 .navbar {
     font-family: 'Oswald', sans-serif;
     text-transform: uppercase;
 }
 
 .navbar-default {
 
     padding-top: 5px;
     padding-bottom: 5px;
     background-color: #fff;
 
     .navbar-nav > li > a {
         color: #222;
     }
 
     .navbar-link {
         color: #222;
     }
 
     .navbar-brand {
         color: #222;
         letter-spacing: 1.25px;
     }
 
 }
 
 /* Item styles */
 
 .item {
     border-bottom: 1px solid #e7e7e7;
     padding-bottom: 1.5em;
     .item-title {
         font-family: 'Oswald', sans-serif;
         margin-top: 0;
     }
     .item-desc {
         font-size: 1em;
     }
     .time-ago {
         color: darken(#e7e7e7, 50%);
         font-size: 0.85em;
         letter-spacing: 1.25;
     }
     .item-sub-title {
         margin-bottom: 0;
     }
 }
 
 .item:nth-child(n+1) {
     padding-top: 1.5em;
 }
 
 